@mixin button-mixin($button-bg-color) {
   width: 75px;
   height: 25px;
   color: map-get($colors, text-1);
   background-color: $button-bg-color;
   border: none;
   border-radius: 2px;
   font-size: xx-small;
}
@mixin link-mixin {
   color: map-get($colors, text-1);
}

* {
   padding: 0;
   margin: 0;
}

body {
   background: map-get($colors, body-bg);
   font-family: Hind, sans-serif;
}

.header, .section_text, .section_banner_heading {
   color: map-get($colors, text-2);
}

.header {
   height: 375px;
   border-radius: 0 0 40% 0;
   background-image: $header-image;
   background-size: 100% auto;
   background-position: center;
   .header-wrap {
      width: 35%;
      padding-top: 10px;
      margin-left: 10%;
   }
   .header_heading {
      margin-top: 0.7em;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 38px;
      font-weight: 800;
      line-height: 1em;
      max-width: 270px;
      &::before {
         content: "awesome";
         background-color: map-get($colors, marker-bg);
         position: absolute;
         margin-top: 1.3em;
         background-size: 0.5em;
         line-height: 0.4;
         padding-bottom: 8px;
      }
   }
   .header_text {
      font-size: 9px;
      margin: 2.3em 0 3.5em 0;
      white-space: pre-line;
      line-height: 12px;
      font-family: 'Fresca', sans-serif;
   }
   .login {
      font-size: 10px;
      margin-left: 75px;
      @include link-mixin;
   }
}

.section {
   margin: 0 auto;
   width: 960px;
   .section_text {
      text-align: center;
      margin: 1em;
      font-size: 20px;
      font-weight: 800;
      &::before {
         content: "adventure";
         position: absolute;
         float: right;
         background-color: map-get($colors, marker-bg);
         margin-left: 112px;
         line-height: 0.8em;
         padding-top: 8px;
         font-weight: 800;
      }
   }
   .section_card_wrap {
      margin: 0 auto;
      width: 60%;
      .section_card {
         border-radius: 4px;
         margin-bottom: 14px;
         display: flex;
         padding: 10px;
         background-color: map-get($colors, cards-bg);
         img {
            border-radius: 4px;
            height: 100%;
         }
      }
      .section_card_right_container {
         padding: 0.5em 2.5em;
         color: map-get($colors, text-1);
         .section_card_heading, .section_link {
            color: map-get($colors, text-1);
            display: block;
            text-align: center;
            margin-bottom: 1em;
            text-decoration-line: none;
         }
         .section_card_heading {
            margin-top: 1em;
            font-size: 14px;
         }
         .section_card_text, .section_link {
            font-size: 8px;
         }
         .section_link {
            margin-top: 2em;
            @include link-mixin;
         }
      }
   }
}

.section_banner {
   border-radius: 4px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   background: linear-gradient(45deg, map-get($colors, gradient-left), map-get($colors, gradient-right));
   margin: 0 auto;
   width: 60%;
   position: relative;
   bottom: -38px;
   padding: 1.2em;
   p {
      &:first-child {
         font-weight: 800;
      }
      &:last-child {
         color: map-get($colors, text-1);
         font-size: 9px;
         font-family: 'Fresca', sans-serif;
      }
   }
   .section_banner_heading {
      &::before {
         content: "start";
         background-color: map-get($colors, marker-bg);
         position: absolute;
         font-weight: 800;
         left: 156px;
         line-height: 0.8em;
         padding-top: 8px;
         top: 18px;
      }
   }
}

button {
   @include button-mixin($button-bg-color:map-get($colors, button-bg));
}

footer {
   color: map-get($colors, text-1);
   background-color: map-get($colors, cards-bg);
   padding: 69px 0 20px 0;
}
.footer-wrap {
   display: flex;
   justify-content: space-around;
}
.footer-wrap span, .footer-wrap p {
   width: 150px;
   font-size: 8px;
}

.landing-logo {
   width: 80px;
   p {
      width: 50px;
      margin: -1px 0 0 0;
      font-size: 12px;
      font-weight: 800;
      float: right;
   }
   span {
      width: 100%;
      font-size: 5px;
      float: left;
      margin: -3px 0px 0px 5px;
   }
   img {
      width: 24px;
   }
}
