$colors: (
   text-1: #FFF,
   text-2: #FFF,
   body-bg: #20222D,
   cards-bg: #3B3F50,
   marker-bg: #FF4E33,
   button-bg: #E3AC00,
   gradient-left: #E1A803,
   gradient-right: #932E52
);
$header-image: url(../img/m-h-night.jpg);
