$colors: (
   text-1: #FFF,
   text-2: #000,
   body-bg: #FFF,
   cards-bg: #21232E,
   marker-bg: #14A0C7,
   button-bg: #699900,
   gradient-left: #669609,
   gradient-right: #2C5ADC
);
$header-image: url(../img/m-h-day.jpg);
